.header {
    background-color: lightgray;
    font-size: 20px;

    flex: 0 0 auto;        /* fixed-height-ish, doesn't grow */
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}